@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');

html body {
    font-family: 'Source Sans Pro';
    font-weight: 500;
}

#title, .title {
    font-weight: 700 !important ;
    color: black;
}

a #title:hover, .title:hover {
    color: #5656ad;
}

.card-body {
    min-height: 8em;
}

.card-img-top {
    height: 15em;
    object-fit: cover;
}

.card {
    width: 25em;
    margin: auto;
}

.card.more-info {
    width: 40em;
}

.card-max {
    width: 100%;
}